@media only screen and (min-width: 1024px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .footerFlex {
        display: flex;
        justify-content: space-around;
    }
}

.presentacion {
    text-align: justify;
}


/* MOBILE */
@media only screen and (max-width: 767px) {
    .footerFlex {
        display: flex;
        flex-direction: column;
    }
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}